/tests/build-tests.properties

/tests/output-actual/*
/tests/scripts/*
/tests/failed.txt
/tests/success.txt
/tests/nbproject/private/
/tests/output-expected/custom-xsl/abacus/explain2view_custom/*.norm
